.item--counter {
    display: flex;
    width: 30%;
    flex-flow: row wrap;
    border: 2px solid #ffc107;
    border-radius: 5px;
    box-shadow: lightgray;
}

.item--counter__btn {
    width: 33.33%;
    color: #000;
    background: lightgray;
    opacity: .8;
    border: #000;
    font-size: 1rem;
}

.label--counter {
    width: 33.33%;
    text-align: center;
    font-weight: bold;
}

.onAdd__btn {
    background:#ffc107;
    color: #000;
    border: #000;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
} 

.detail__btn {
    @extend .onAdd__btn;
    font-weight: bold;
}

.irAlCarrito--btn {
    @extend .onAdd__btn;
    font-size: 1.4rem;
}