.cart--header {
    display: flex;
    flex-flow: flex wrap;
    font-size: 1.5rem;
    color: black;
}
.itemCartTable {
    display: flex;
    flex-flow: row wrap;
    max-height: 200px;
    //grid-template-columns: 4fr 5fr 2fr 1fr;
}

.cart--btn {
    width: 20px;
}