.header--container {
    display: flex;
    background: #FFF;
    width: 100vw;
    margin: 0;
    padding: 0;
    .nav--container {
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
        .nav {
            width: 100vw;
            justify-content: space-around;
        }
        .navmenu {
            display: flex;
            height: 100%;
            gap: 2rem;
            list-style: none;
            text-decoration: none;
            align-items: center;
            color: #000;
            font-weight: bold;
            font-size: 1.8rem;
            cursor: pointer;
            .nav-link{
                color: #000;
            }
        }
        .nav--aside {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.5rem;
            color: rgba(24, 24, 24, 0.808);
            cursor: pointer;
        }
    }
}

