.welcome {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    #welcome--name {
        background: radial-gradient(#fd7e14, #dc3545);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    } 
}