.welcome {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    #welcome--name {
        background: radial-gradient(#fd7e14, #dc3545);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    } 
}

.item__list--container {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    gap: 5rem;
    justify-content: center;
    .item--container {
        padding: 5rem;
    }
}

.item__detail--container {
    @extend .item__list--container;
}