html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Neue Plak', sans-serif; }

.header--container {
  display: flex;
  background: #FFF;
  width: 100vw;
  margin: 0;
  padding: 0; }
  .header--container .nav--container {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw; }
    .header--container .nav--container .nav {
      width: 100vw;
      justify-content: space-around; }
    .header--container .nav--container .navmenu {
      display: flex;
      height: 100%;
      gap: 2rem;
      list-style: none;
      text-decoration: none;
      align-items: center;
      color: #000;
      font-weight: bold;
      font-size: 1.8rem;
      cursor: pointer; }
      .header--container .nav--container .navmenu .nav-link {
        text-decoration: none;
        color: #000; }
    .header--container .nav--container .nav--aside {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.5rem;
      color: rgba(24, 24, 24, 0.808);
      cursor: pointer; }

.footer--container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  font-size: 1.5rem;
  color: black; }

.welcome {
  padding: 2rem;
  font-size: 3rem;
  text-align: center; }
  .welcome #welcome--name {
    background: radial-gradient(#fd7e14, #dc3545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }

.item__list--container, .item__detail--container {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  gap: 5rem;
  justify-content: center;
  font-family: 'Neue Plak', sans-serif; }
  .item__list--container a, .item__detail--container a {
    text-decoration: none;
    color: #000; }
  .item__list--container .item--container:hover, .item__detail--container .item--container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px 5px rgba(115, 115, 115, 0.75);
    -webkit-box-shadow: 0px 0px 7px 5px rgba(115, 115, 115, 0.75);
    -moz-box-shadow: 0px 0px 7px 5px rgba(115, 115, 115, 0.75);
    transform: scale(1.05);
    transition: transform 200ms; }

.cart--header {
  display: flex;
  flex-flow: flex wrap;
  font-size: 1.5rem;
  color: black; }

.itemCartTable {
  display: flex;
  flex-flow: row wrap;
  max-height: 200px; }

.cart--btn {
  width: 20px; }

.item--counter {
  display: flex;
  width: 30%;
  flex-flow: row wrap;
  border: 2px solid #ffc107;
  border-radius: 5px;
  box-shadow: lightgray; }

.item--counter__btn {
  width: 33.33%;
  color: #000;
  background: lightgray;
  opacity: .8;
  border: #000;
  font-size: 1rem; }

.label--counter {
  width: 33.33%;
  text-align: center;
  font-weight: bold; }

.onAdd__btn, .detail__btn, .irAlCarrito--btn {
  background: #ffc107;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem; }

.detail__btn {
  font-weight: bold; }

.irAlCarrito--btn {
  font-size: 1.4rem; }

.item__list--title {
  font-weight: bold;
  font-size: 2rem;
  color: black; }

.item__list--body {
  font-size: 1.3rem;
  color: darkslategray; }

.item__detail--container {
  padding: 0; }

.item__detail {
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  width: 90vw; }
  .item__detail .item__detail--img {
    max-height: 600px; }
    .item__detail .item__detail--img img {
      width: 100%;
      height: 100%; }
  .item__detail .item__detail--aside {
    flex-flow: column nowrap; }
    .item__detail .item__detail--aside .item__detail--description {
      color: black;
      font-size: 1.3rem;
      padding-left: 1.3rem; }
      .item__detail .item__detail--aside .item__detail--description p {
        font-size: 2rem;
        text-transform: uppercase;
        color: black; }
    .item__detail .item__detail--aside .item__detail--btns {
      padding-left: 1.3rem;
      font-size: 1.5rem;
      font-weight: bold; }
      .item__detail .item__detail--aside .item__detail--btns button {
        font-size: 1.5rem; }
