html {
    font-size: 62.5%;                            
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Neue Plak', sans-serif;  
}

@import 'components/navbar.scss';
@import 'layout/body.scss';
@import 'components/buttons.scss';
@import 'components/item_container.scss';
